{:deps {:aliases [:shadow-cljs]}
 :builds
 {:app {:target :npm-module
        :ns-regexp "app.main"
        :dev {:output-dir "output/dev"}
        :release {:output-dir "output/release"
                  :compiler-options {:optimizations :advanced
                                     :pretty-print true
                                     :pseudo-names true}
                  }}}}
